{% extends '_base.html' %}

{% block title %}
  SVCB Smart Tools
{% endblock %}

{% block style %}

<style>
    
.options{
    width: 90%;
    height: 400px;
    background: red;
    margin: 30px auto;
    display: flex;
}

.options .option{
    width: 200px;
    height: 200px;
    background: green
}
</style>
{% endblock %}

{% block inc %}{% endblock %}

{% block body %}

<header class="appbar z-5 blue-dark-1">
    <div class="wrap">
      <section class="left">
          <a class="wave icon"><i class="material-icons">arrow_back</i></a>
          <label class="title">Smart Tools</label>
      </section>
      <section class="right"><a class="wave icon"><i class="material-icons">share</i></a><a class="wave icon"><i class="material-icons">cloud</i></a><a class="wave icon"><i class="material-icons">save</i></a></section>
    </div>
  </header>

  <div class="options">
     <div class="option">

     </div>
  </div>

{% endblock %}

{% block script %}

{% endblock %}