<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta 
     name='viewport' 
     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/matericious@0.10.1/dist/css/matericious.min.css">
    <script src="https://cdn.jsdelivr.net/npm/matericious@0.10.1/dist/js/matericious.min.js"></script>

    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
</head>
<body>

    {% block inc %}{% endblock %}
    
    {% block body %}

    {% endblock %}
    {% block script %}{% endblock %}
</body>