<div class="dialog overlay scrollable smart" id="combine_pdf">
    <div class="content">
      <header>
        <label class="title">Combine PDF Files</label>
      </header>
      <section>
        <form class="ui form" method="POST" action="{{ url_for('smart_tools.combine') }}" enctype="multipart/form-data">
            <div class="ui large icon input">
                <input name="num_pages" type="number" id="num_pages" placeholder="Number of pages">
            </div><br/><br/>
            <button class="ui icon button" onclick="buildInputList(); return false;">
                <i class="copy icon"></i>
                Prep
            </button>

            <div id="file_input"></div>

        </form>
        <br/><br/><br/><br/>
      </section>
      <footer><a class="red text close">Close</a></footer>
    </div>
  </div>