<div class="dialog overlay smart" id="combine_pdf">
    <div class="content">
      <header>
        <label class="title">Combine PDF Files</label>
      </header>
      <section>
        <form class="ui form" method="POST" action="{{ url_for('smart_tools.combine') }}" enctype="multipart/form-data">

            <div class="ui action input">
                <input name="num_pages" type="number" id="num_pages" placeholder="Number of pages">
                <button class="ui teal right labeled icon button" onclick="buildInputList(); return false;">
                  Ready
                </button>
              </div>

            <div id="file_input"></div>
            
            <br/><br/>
            <!-- <button class="ui button blue big">
                Combine
            </button> -->
        </form>
      </section>
      <footer><a class="red text close">Close</a></footer>
    </div>
  </div>