<div class="dialog overlay smart" id="encrypt_pdf">
    <div class="content">
      <header>
        <label class="title">Encrypt PDF File</label>
      </header>
      <section>
        <form>
            <div class="ui large icon input">
                <input type="text" placeholder="Password">
            </div>
            <div class="ui large icon input">
                <input type="file" placeholder="Select file">
            </div>
            <button class="ui button">
                Encrypt
            </button>
        </form>
      </section>
      <footer><a class="red text close">Close</a></footer>
    </div>
  </div>