<div class="dialog overlay smart" id="encrypt_pdf">
    <div class="content">
      <header>
        <label class="title">Encrypt PDF File</label>
      </header>
      <section>
        <form class="ui form" method="POST" action="{{ url_for('smart_tools.encrypt') }}">
            <div class="ui large icon input">
                <input name="password" type="password" placeholder="Password">
            </div>
            <div class="ui large icon input">
                <input name="file" type="file" accept="application/pdf" placeholder="Select file">
            </div>
            <br/><br/>
            <button class="ui button blue big">
                Encrypt
            </button>
        </form>
      </section>
      <footer><a class="red text close">Close</a></footer>
    </div>
  </div>